<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>扫码支付</title>
    <link href="/static/pay/1/css/pay.css" rel="stylesheet" media="screen">
    <script src="/static/pay/common.js"></script>
    <style>
    <?php if($pay_type_ali){?>
    #orderbody .time-item strong{
        background: #00A0E8;
    }
    .mod-ct .tip .ico-scan{
        background-image: url(/static/pay/1/img/ali-pay.png);
    }
    .mod-ct .detail .arrow .ico-arrow{
        background-image: url(/static/pay/1/img/ali-pay.png);
    }
    a.btn-open-app,a.btn-check{
        background: #00A0E8;
        
    }
    <?php }?>
    <?php if($pay_type_rmb){?>
    #orderbody .time-item strong{
        background: #E5001F;
    }
    .mod-ct .tip .ico-scan{
        background-image: url(/static/pay/1/img/rmb-pay.png);
    }
    .mod-ct .detail .arrow .ico-arrow{
        background-image: url(/static/pay/1/img/rmb-pay.png);
    }
    a.btn-open-app,a.btn-check{
        background: #E5001F;
    }
    <?php }?>
    </style>
</head>

<body>
    <div class="body" id="body">
        <h1 class="mod-title">
            <?php if($pay_type_wx){?>
            <span class="ico_log ico-1"></span>
            <?php }?>
            <?php if($pay_type_ali){?>
            <span class="ico_log ico-2"></span>
            <?php }?>
            <?php if($pay_type_qq){?>
            <span class="ico_log ico-3"></span>
            <?php }?>
            <?php if($pay_type_rmb){?>
            <span class="ico_log ico-4"></span>
            <?php }?>
        </h1>
        <div class="mod-ct">
            <div class="order">
            </div>
            <div class="amount" id="timeOut" style="font-size: 20px;color: red;display: none;">
                <p>订单已过期，请您返回网站重新发起支付</p><br>
            </div>
            <div id="orderbody">
                <?php if(!$pay_type_rmb || ($pay_type_rmb && request()->isMobile())){?>
                <div class="amount"><span class="vemi">￥<?php echo $reallyPrice;?></span><!--<button class="copy-text vemi">复制</button>--></div>
                <?php }?>
                <div class="qrcode-img-wrapper" data-role="qrPayImgWrapper">
                    <div data-role="qrPayImg" class="qrcode-img-area">
                        <div class="ui-loading qrcode-loading" data-role="qrPayImgLoading" style="display: none;">加载中</div>
                        <div style="position: relative;display: inline-block;">
                            <?php if($zf_pid && $pay_type_ali){?>
                            <?php if($confirm == 1){?>
                            <img id='show-qrcode' alt="加载中..." src="/enQrcode?url=<?php echo urlencode($http_type.$_SERVER['HTTP_HOST'].'/index/pay/goAlipay?trade_no='.$order_id);?>" width="200" height="200">
                            <?php }else if($transfer == 1){?>
                            <img id='show-qrcode' alt="加载中..." src="/enQrcode?url=http://ds.alipay.com/?scheme=<?php echo urlencode("alipays://platformapi/startapp?appId=09999988&actionType=toAccount&goBack=NO&amount=$reallyPrice&userId=$zf_pid&memo=$id");?>" width="200" height="200">
                            <?php }else if($transfer == 2){?>
                            <img id='show-qrcode' alt="加载中..." src="/enQrcode?url=http://ds.alipay.com/?scheme=<?php echo urlencode("alipays://platformapi/startapp?appId=20000123&actionType=scan&biz_data={\"s\":\"money\",\"u\":\"$zf_pid\",\"a\":\"$reallyPrice\",\"m\":\"$id\"}");?>" width="200" height="200">
                            <?php }else if($transfer == 3){?>
                            <img id='show-qrcode' alt="加载中..." src="/enQrcode?url=http://ds.alipay.com/?scheme=alipays%3a%2f%2fplatformapi%2fstartapp%3fappId%3d77700259%26page%3dpages%252Ftransfer%252Ftransfer%253Famount%253D<?php echo $reallyPrice;?>%2526chInfo%253DmoneyBox%2526remark%253D<?php echo $id;?>%2526uid%253D<?php echo $zf_pid;?>" width="200" height="200">
                            <?php }else{?>
                            <img id='show-qrcode' alt="加载中..." src="/enQrcode?url=<?php echo urlencode($payUrl);?>" width="200" height="200">
                            <?php }?>
                            <?php }else if($payUrl){?>
                            <img id='show-qrcode' alt="加载中..." src="/enQrcode?url=<?php echo urlencode($payUrl);?>" width="200" height="200">
                            <?php }?>
                            <?php if($payUrl){?>
                            <?php if($pay_type_wx){?>
                            <img onclick="$(this).hide()" src="/static/pay/1/img/use_1.png" style="position: absolute;top: 50%;left: 50%;width:32px;height:32px;margin-left: -16px;margin-top: -16px">
                             <?php }?>
                             <?php if($pay_type_ali){?>
                            <img onclick="$(this).hide()" src="/static/pay/1/img/use_2.png" style="position: absolute;top: 50%;left: 50%;width:32px;height:32px;margin-left: -16px;margin-top: -16px">
                             <?php }?>
                             <?php if($pay_type_qq){?>
                            <img onclick="$(this).hide()" src="/static/pay/1/img/use_3.png" style="position: absolute;top: 50%;left: 50%;width:32px;height:32px;margin-left: -16px;margin-top: -16px">
                             <?php }?>
                             <?php if($pay_type_rmb){?>
                            <img onclick="$(this).hide()" src="/static/pay/1/img/use_4.jpg" style="position: absolute;top: 50%;left: 50%;width:32px;height:32px;margin-left: -16px;margin-top: -16px">
                             <?php }}else if($pay_type_rmb){?>
                             <?php if(request()->isMobile()){?>
                             <p style="font-size: 20px;"><span class="vemi">钱包编码：<br><strong><?php echo $zf_pid;?></strong></span><!--<button class="copy-text vemi" copy="<?php echo $zf_pid;?>">复制</button>--></p>
                             <?php }else{?>
                             <p style="font-size: 20px;margin-top: 10px;">使用浏览器扫描以下二维码</p>
                             <img id='show-qrcode' alt="加载中..." src="/enQrcode?url=<?php echo $url;?>">
                             <?php }}?>
                        </div>
                    </div>
                </div>
                <div class="time-item">
                    <div class="time-item" id="msg">
                        <h1>
                            <span style="color:red"><?php if($price != $reallyPrice){echo $price.'元已被占用，';}?>请务必付款<?php echo $reallyPrice;?>元<?php if($pay_type_ali && $money_change == 1){echo '，备注：'.$id;}?>，否则会支付失败</span><br>
                        </h1>
                    </div>
                    <strong id="hour_show">0时</strong>
                    <strong id="minute_show">0分</strong>
                    <strong id="second_show">0秒</strong>
                </div>
                <?php if($pay_type_wx || $pay_type_qq || ($pay_type_rmb && $payUrl)){?>
                <div class="open_app">
                    <a class="btn-open-app picture">保存二维码</a>
                </div>
                <?php }?>
                <?php if($pay_type_wx){?>
                <div class="open_app">
                    <a class="btn-open-app" href="weixin://">打开微信APP继续付款</a>
                </div>
                <?php }?>
                <?php if($pay_type_ali){?>
                <div class="open_app">
                    <a id="alipay" class="btn-open-app">打开支付宝APP继续付款</a>
                </div>
                <?php }?>
                <?php if($pay_type_rmb){?>
                <div class="open_app">
                    <a class="btn-open-app copy-text" copy="<?php echo $zf_pid;?>">复制钱包编码</a>
                </div>
                <div class="open_app">
                    <a class="btn-open-app copy-text">复制金额</a>
                </div>
                <?php }?>
                <?php if(get_setting('mail_order_bd')){?>
                <div class="open_app" style="display: block;">
                    <a id="submitBd" class="btn-open-app">提交补单</a>
                </div>
                <?php }?>
                <div class="tip">
                    <?php if($payUrl){?>
                    <div class="ico-scan"></div>
                    <?php }?>
                    <div class="tip-text">
                        <?php if($payUrl){?>
                        <p>请使用<?php echo $pay_type1;?>扫一扫</p>
                        <?php if($isAuto == 0 || ($zf_pid && $transfer && $pay_type_ali)){?>
                        <p>扫描二维码完成支付</p>
                        <?php }else{?>
                        <p>扫码后输入金额支付</p>
                        <?php }}else{?>
                        <p>请使用<?php echo $pay_type1;?>，找到转钱，输入钱包编码，再输入金额转账即可</p>
                        <?php }?>
                    </div>
                </div>
                <div class="detail" id="orderDetail">
                    <dl class="detail-ct" id="desc" style="display: none;">
                        <dt>商品信息：</dt>
                        <dd><?php echo $name;?></dd>
                        <dt>金额：</dt>
                        <dd><?php echo $price;?></dd>
                        <dt>系统订单：</dt>
                        <dd><?php echo $order_id;?></dd>
                        <dt>创建时间：</dt>
                        <dd><?php echo $create_time;?></dd>
                        <dt>状态：</dt>
                        <dd>等待支付</dd>
                    </dl>
                    <a href="javascript:void(0)" class="arrow" onclick="aaa()"><i class="ico-arrow"></i></a>
                </div>
            </div>
            <div class="tip-text">
            </div>
        </div>
        <?php if($payUrl){?>
        <div class="foot">
            <div class="inner">
                <p>手机用户可保存上方二维码到手机中</p>
                <p>在<?php echo $pay_type1;?>扫一扫中选择“相册”即可</p>
            </div>
        </div>
        <?php }?>
    </div>
    <div class="copyRight">
    </div>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/js/clipboard.min.js"></script>
    <script src="/static/common/lib/layer/layer.js"></script>
    <script>
    function aaa() {
        if ($('#orderDetail').hasClass('detail-open')) {
            $('#orderDetail .detail-ct').slideUp(500, function() {
                $('#orderDetail').removeClass('detail-open');
            });
        } else {
            $('#orderDetail .detail-ct').slideDown(500, function() {
                $('#orderDetail').addClass('detail-open');
            });
        }
    }

    var myTimer;

    function timer(intDiff) {
        var i = 0;
        i++;
        var day = 0,
            hour = 0,
            minute = 0,
            second = 0; //时间默认值
        if (intDiff > 0) {
            day = Math.floor(intDiff / (60 * 60 * 24));
            hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
            minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
            second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
        }
        if (minute <= 9) minute = '0' + minute;
        if (second <= 9) second = '0' + second;
        $('#hour_show').html('<s id="h"></s>' + hour + '时');
        $('#minute_show').html('<s></s>' + minute + '分');
        $('#second_show').html('<s></s>' + second + '秒');
        if (hour <= 0 && minute <= 0 && second <= 0) {
            qrcode_timeout()
            clearInterval(myTimer);

        }
        intDiff--;

        myTimer = window.setInterval(function() {
            i++;
            var day = 0,
                hour = 0,
                minute = 0,
                second = 0; //时间默认值
            if (intDiff > 0) {
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            $('#hour_show').html('<s id="h"></s>' + hour + '时');
            $('#minute_show').html('<s></s>' + minute + '分');
            $('#second_show').html('<s></s>' + second + '秒');
            if (hour <= 0 && minute <= 0 && second <= 0) {
                qrcode_timeout()
                clearInterval(myTimer);

            }
            intDiff--;
        }, 1000);
    }

    function qrcode_timeout() {
        document.getElementById("orderbody").style.display = "none";
        document.getElementById("timeOut").style.display = "";
    }
    </script>
    <?php require(ROOT_PATH.'view'.DS.'pay'.DS.'foot.html');?>
</body>

</html>